# Frontend environment variables for Vercel deployment
# Set this to your Render backend base URL.

VITE_API_URL=https://delivo-d5r8.onrender.com/api
VITE_VAPID_PUBLIC_KEY=BHfiaX7G8DIf2Ryphn3kSRvb1-8vwznP7Og4eu3Q--8ieIVrkyFR6cGYIuGhSNY9yB4MQvRu7E2ixNGuZq7gvW0

# Firebase Cloud Messaging configuration
VITE_FIREBASE_API_KEY=AIzaSyAeAZyhCK_pS8uCWvCH9wiSmBvgKX6dHAU
VITE_FIREBASE_AUTH_DOMAIN=delivo-73fab.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=delivo-73fab
VITE_FIREBASE_STORAGE_BUCKET=delivo-73fab.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816710185546
VITE_FIREBASE_APP_ID=1:816710185546:web:50caf29f09910c4dbdacb3
VITE_FIREBASE_MEASUREMENT_ID=G-FLNP8FRK9Q
VITE_FIREBASE_VAPID_KEY=BHfiaX7G8DIf2Ryphn3kSRvb1-8vwznP7Og4eu3Q--8ieIVrkyFR6cGYIuGhSNY9yB4MQvRu7E2ixNGuZq7gvW0
